In [1]:
import os
import pandas as pd
import numpy as np
import pickle
from pandas import HDFStore

import yaml

cfg = None
    #' load config.yaml file in the root dir 
with open("../config.yaml", 'r') as ymlfile:
    cfg = yaml.load(ymlfile, Loader=yaml.FullLoader)
    
# Use 3 decimal places in output display
pd.set_option("display.precision", 3)

# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)

# Set max rows displayed in output to 25
pd.set_option("display.max_rows", 25)

pd.set_option('display.float_format', lambda x: '%.2f' % x)


#Function to get data frame summary
def get_data_frame_summmary(data_frame, sort_by='percent_missing', ascending=False):
    unique_values = data_frame.apply(lambda x: [x.unique()])
    unique_counts = data_frame.apply(lambda x: len(x.unique()))
    percent_missing = data_frame.apply(lambda x: sum(pd.isnull(x))/len(x)*100)
    data_type = data_frame.dtypes

    return pd.DataFrame(dict(unique_values = unique_values, 
                                unique_counts = unique_counts,
                                data_type = data_type,
                                percent_missing = percent_missing,
                                )).reset_index().sort_values(by=sort_by, ascending=ascending)

# Function to drop outliers of numeric columns
def drop_outliers(data_frame, exclude=[]):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    num_cols = data_frame.select_dtypes(include=numerics).columns

    num_cols = num_cols.difference(exclude)
    
    for colname in num_cols:
        upper_lim = data_frame[colname].quantile(.95)
        lower_lim = data_frame[colname].quantile(.05)
        
        print(f'Dropping outliers for {colname} upper limit = {upper_lim} and lower limit = {lower_lim}')
        data_frame = data_frame[(data_frame[colname] < upper_lim) & (data_frame[colname] > lower_lim)]
      
    return data_frame


# Function to drop outliers of numeric columns
def scale_numeric_features(data_frame, exclude=[], 
                           method='standardize',
                           inplace=False):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    num_cols = data_frame.select_dtypes(include=numerics).columns

    num_cols = num_cols.difference(exclude)
    print(f'********************* - Scaling following {len(num_cols)} features - **********************')
    for colname in num_cols:
        new_colname = colname if inplace else colname+'_'+method+'d'
        print(f' {colname} {method}d to {new_colname}')
        
        if method == 'standardize':              
              data_frame[new_colname] = (data_frame[colname] - data_frame[colname].mean()) / data_frame[colname].std()
        elif method == 'normalize':
              data_frame[new_colname] = (data_frame[colname] - data_frame[colname].min()) / (data_frame[colname].max() - data_frame[colname].min())
        else:
              print(f'Unknown method {method} specified, please select one of "standardize" or "normalize"')

      
    return data_frame


def remove_items(iteamlist, removelist):
    return [ele for ele in iteamlist if ele not in removelist]

def diff(first, second):
    second = set(second)
    return [item for item in first if item not in second]
    
def months_between_columns(date_series1, date_series2):
    return round((date_series1-date_series2) / np.timedelta64(1, 'M'))
    
path_to_hdf_datastore = cfg['path_to_hdf_datastore']
path_to_clean_hdf_datastore = cfg['path_to_clean_hdf_datastore']

In [2]:
# Read Data
cancellations = pd.read_hdf(path_to_hdf_datastore, cfg['cancellations_file'])

df = cancellations
del cancellations

df.head()

  Source System SIS Id  (Agreement SIS) Source System.1 HQ SIS Id (Agreement SIS)                 Name  (Agreement SIS) Business Division (Agreement SIS) Sales Division (Agreement SIS) Division     RSO Subregion Grouping  ... Subscription Start Date Subscription End Date Parent Agreement Number Currency(Entered) Revenue Final Net Price - Agent Discount Amount(Rep) Revenue Committed Print(Rep) Bookings - Final Net Price - Agent Discount Amount(Rep) Bookigns - Committed Print(Rep) Cancellation Month Cancellation Reason
0           CRM                 1060896             CRM                   1060896  Hospital Infantil de las Californias                        HS EMEA/LA      HS-EMEALA-RLAM0000000-01D       HS  EMEALA            HS RLAM  ...              2015-05-15            2016-05-14                     nan               USD                                                nan                            nan                                               0.00                                 0.00             201702             Unknown
1           CRM                 1060896             CRM                   1060896  Hospital Infantil de las Californias                        HS EMEA/LA      HS-EMEALA-RLAM0000000-01D       HS  EMEALA            HS RLAM  ...              2015-05-15            2016-05-14                     nan               USD                                                nan                            nan                                             838.00                                 0.00             201702             Unknown
2           CRM                 1060896             CRM                   1060896  Hospital Infantil de las Californias                        HS EMEA/LA      HS-EMEALA-RLAM0000000-01D       HS  EMEALA            HS RLAM  ...              2015-05-15            2016-05-14                     nan               USD                                                nan                            nan                                               0.00                                 0.00             201702             Unknown
3           CRM                 1060896             CRM                   1060896  Hospital Infantil de las Californias                        HS EMEA/LA      HS-EMEALA-RLAM0000000-01D       HS  EMEALA            HS RLAM  ...              2015-05-15            2016-05-14                     nan               USD                                                nan                            nan                                               0.00                                 0.00             201702             Unknown
4           CRM                 1060896             CRM                   1060896  Hospital Infantil de las Californias                        HS EMEA/LA      HS-EMEALA-RLAM0000000-01D       HS  EMEALA            HS RLAM  ...              2015-05-15            2016-05-14                     nan               USD                                                nan                            nan                                               1.00                                 0.00             201702             Unknown

[5 rows x 42 columns]

# Replace strings indicating missing data with null

In [3]:
#replace strings indicating missing data with null
df.replace(['nan', 'N.A', 'N.A.', 'NaN', 'Nan', '00-00-00', '0-00-00', 'Unknown'], np.nan, inplace=True)
df

       Source System SIS Id  (Agreement SIS) Source System.1 HQ SIS Id (Agreement SIS)                              Name  (Agreement SIS) Business Division (Agreement SIS) Sales Division (Agreement SIS)   Division               RSO      Subregion Grouping  ... Subscription Start Date Subscription End Date Parent Agreement Number Currency(Entered) Revenue Final Net Price - Agent Discount Amount(Rep) Revenue Committed Print(Rep) Bookings - Final Net Price - Agent Discount Amount(Rep) Bookigns - Committed Print(Rep) Cancellation Month Cancellation Reason
0                CRM                 1060896             CRM                   1060896               Hospital Infantil de las Californias                        HS EMEA/LA      HS-EMEALA-RLAM0000000-01D         HS            EMEALA                 HS RLAM  ...              2015-05-15            2016-05-14                     NaN               USD                                                nan                            nan                                               0.00                                 0.00             201702                 NaN
1                CRM                 1060896             CRM                   1060896               Hospital Infantil de las Californias                        HS EMEA/LA      HS-EMEALA-RLAM0000000-01D         HS            EMEALA                 HS RLAM  ...              2015-05-15            2016-05-14                     NaN               USD                                                nan                            nan                                             838.00                                 0.00             201702                 NaN
2                CRM                 1060896             CRM                   1060896               Hospital Infantil de las Californias                        HS EMEA/LA      HS-EMEALA-RLAM0000000-01D         HS            EMEALA                 HS RLAM  ...              2015-05-15            2016-05-14                     NaN               USD                                                nan                            nan                                               0.00                                 0.00             201702                 NaN
3                CRM                 1060896             CRM                   1060896               Hospital Infantil de las Californias                        HS EMEA/LA      HS-EMEALA-RLAM0000000-01D         HS            EMEALA                 HS RLAM  ...              2015-05-15            2016-05-14                     NaN               USD                                                nan                            nan                                               0.00                                 0.00             201702                 NaN
4                CRM                 1060896             CRM                   1060896               Hospital Infantil de las Californias                        HS EMEA/LA      HS-EMEALA-RLAM0000000-01D         HS            EMEALA                 HS RLAM  ...              2015-05-15            2016-05-14                     NaN               USD                                                nan                            nan                                               1.00                                 0.00             201702                 NaN
...              ...                     ...             ...                       ...                                                ...                               ...                            ...        ...               ...                     ...  ...                     ...                   ...                     ...               ...                                                ...                            ...                                                ...                                  ...                ...                 ...
353243           UPL              ECR-918266             UPL                ECR-918266  JSC National Center of Science and Technology ...                          A&G_EMLA      AG-EMLA-Turmeca000000-04D        A&G              EMLA          Region Turmeca  ...              2015-02-01            2016-01-31                     NaN               USD                                                nan                            nan                                          951134.48                                 0.00             201606                 NaN
353244           UPL              ECR-928151             UPL                ECR-346544  National Institute of Food and Drug Safety Eva...                          A&G_APAC      AG-APAC-Korea00000000-01D        A&G        A&G Vendor        A&G Vendor Sales  ...              2016-12-31            2017-12-30                     NaN               USD                                                nan                            nan                                           11294.00                                 0.00             201703                 NaN
353245           UPL              ECR-931550             UPL                ECR-931550   Republic of the Philippines Department of Health                          A&G_APAC      AG-APAC-SEA0000000000-04D        A&G        A&G Vendor        A&G Vendor Sales  ...              2017-01-01            2017-12-31                     NaN               USD                                                nan                            nan                                           11665.00                                 0.00             201705                 NaN
353246           UPL              ECR-931550             UPL                ECR-931550   Republic of the Philippines Department of Health                          A&G_APAC      AG-APAC-SEA0000000000-04D        A&G        A&G Vendor        A&G Vendor Sales  ...              2019-01-02            2020-01-01                     NaN               USD                                           12263.93                           0.00                                           12297.62                                 0.00             201904                 NaN
353247           UPL              ECR-983194             UPL                ECR-983194                                   Medi Service Srl                         Corporate      CP-MAEU00000000000000-05T  Corporate  Corporate Vendor  Corporate Vendor Sales  ...              2019-05-31            2020-05-30                     NaN               USD                                           14047.25                           0.00                                           23912.99                                 0.00             201909                 NaN

[353248 rows x 42 columns]

In [4]:
for i in range(0,df.shape[1]):
    print(df.iloc[:,i].value_counts())

CRM    353112
UPL       136
Name: Source System, dtype: int64
ECR-40004     2553
ECR-40026     2014
ECR-39962     1971
ECR-358312    1754
ECR-933990    1688
              ...
ECR-890306       1
ECR-526567       1
ECR-635686       1
ECR-369517       1
ECR-502097       1
Name: SIS Id  (Agreement SIS), Length: 8586, dtype: int64
CRM    353112
UPL       136
Name: Source System.1, dtype: int64
ECR-876907    3658
ECR-40004     2553
ECR-40026     2014
ECR-39962     2004
ECR-358312    1754
              ...
ECR-549110       1
ECR-39196        1
ECR-246541       1
ECR-960769       1
ECR-3000         1
Name: HQ SIS Id (Agreement SIS), Length: 7752, dtype: int64
Banaras Hindu University                          2553
Jawaharlal Nehru University                       2014
University of Delhi                               1971
Motilal Nehru National Institute of Technology    1754
National Health Insurance Administration          1688
                                                  ...
Memorial Sloan Kettering Cancer Center               1
Nippon Pharmaceutical Chemicals Co Ltd               1
Exelixis Inc                                         1
Roketsan Roket Sanayii ve Ticaret AS                 1
Netherlands Environmental Assessment Agency          1
Name: Name  (Agreement SIS), Length: 8565, dtype: int64
A&G_APAC            247292
A&G_EMLA             39484
A&G_MAEU             29043
HS APAC              11924
A&G_NOAM             11195
HS EMEA/LA            6664
Corporate             4630
HS North America      2551
CS_Default_BD          465
Name: Business Division (Agreement SIS), dtype: int64
AG-APAC-South_Asia000-01T    60956
AG-APAC-South_Asia000-02T    52913
AG-APAC-South_Asia000-02D    22909
AG-APAC-South_Asia000-04D    19323
AG-APAC-South_Asia000-03D    17864
                             ...
HS-EMEALA-MEA00000000-02D        1
HS-EMEALA-DACH0000000-02D        1
HS US Texas                      1
CP-EMLA-Turmeca000000-02D        1
HS-EMEALA-DACH0000000-01D        1
Name: Sales Division (Agreement SIS), Length: 208, dtype: int64
A&G          326357
HS            22667
Corporate      4224
Name: Division, dtype: int64
APAC                260324
EMLA                 39768
MAEU                 29872
NOAM                 15856
EMEALA                6991
KEYA                   355
Corporate Vendor        37
A&G Vendor              30
HS RSS Vendor           13
RSS                      2
Name: RSO, dtype: int64
Region South Asia                201229
Region China                      25238
Region Latin North                20038
Region DACH                       17162
Region SEA                        10289
                                  ...
CP-Region Key Accounts - APAC        34
A&G Vendor Sales                     30
HS Hong Kong                         15
HS RSS Vendor Sales                  13
HS - RSS Subregion                    2
Name: Subregion Grouping, Length: 69, dtype: int64
India            204131
China             25605
Germany           19330
Ecuador           14376
United States     13845
                  ...
Martinique            1
El Salvador           1
Mayotte               1
Mauritius             1
Paraguay              1
Name: Country Name (Agreement SIS), Length: 133, dtype: int64
CANCELLED    353248
Name: WIP Flag, dtype: int64
Cancelled Complete    353109
Cancelled                139
Name: Status, dtype: int64
Cancelled    353248
Name: Wip Type, dtype: int64
Renewal      262236
New Sale      83833
Credit         4400
Cancelled      2778
Name: Business Indicator, dtype: int64
Cancelled         353109
Active Renewal         3
Name: Sales Type, dtype: int64
Renewal    353140
New           108
Name: Calculated New/Renewal, dtype: int64
30 NET       157270
120 NET       64504
90 NET        36199
60 NET        20925
SPL2/MTH6     14867
              ...
30NOV17           1
15DEC20           1
31AUG19           1
30SEP15           1
31MAY15           1
Name: Payment Term, Length: 85, dtype: int64
Net Due in 30 days After Invoice Date                                                                           157270
Net Due in 120 days After Invoice Date                                                                           64504
Net Due in 90 days After Invoice Date                                                                            36199
Net Due in 60 days After Invoice Date                                                                            20925
2 Equal Installments: First: Due in 30 Days after the invoice date. Second: Due 7 months after invoice date.     14867
                                                                                                                 ...
Due 30 November 2015                                                                                                 1
Due 31 August 2019                                                                                                   1
Due 31 July 2015                                                                                                     1
Due 30 June 2016                                                                                                     1
Due 31 July 2016                                                                                                     1
Name: Payment Term Description, Length: 85, dtype: int64
NET           287961
SPL/MTH        20320
AS_IS_DATE     15567
Name: Payment Term Type, dtype: int64
2018-04-19    21355
2017-03-29    14382
2015-09-14    14294
2015-03-26    11323
2018-04-16    11245
              ...
2017-01-25        1
2015-11-14        1
2017-07-22        1
2014-09-25        1
2017-07-01        1
Name: Status Change Date, Length: 1351, dtype: int64
2015    353248
Name: Reporting Year (2015), dtype: int64
2015-04-03    22418
2018-07-29    18701
2019-03-31    13346
2018-12-31    11172
2018-04-30     8148
              ...
2016-06-02        1
2018-10-01        1
2015-10-27        1
2018-03-03        1
2018-07-06        1
Name: Renewal Exp Complete Date, Length: 1142, dtype: int64
Recurring            353236
One Off/Recurring        12
Name: Product Revenue Type, dtype: int64
Journals                       338921
Engineering                      4458
Reference                        4053
Books                            2026
Research Intelligence            1849
Life Sciences                    1343
Research Workflow Solutions       588
Licensing                          10
Name: Product Line Level 1, dtype: int64
Journals Electronic Subscriptions          329253
Journal Level Sales                          8076
Knovel                                       3827
eBooks                                       2026
CK Physician                                 1750
                                            ...
CK Med Ed                                      12
Indexing Linking and Discovery Services        10
Life Sciences Other                             8
Journals Other                                  1
Journals Legacy                                 1
Name: Product Line Level 2, Length: 34, dtype: int64
E-fees                                                           322152
Societies                                                          5055
Journals Consult Subscriptions                                     3670
Knovel Content                                                     3646
Journal Collections                                                2355
                                                                  ...
Patient Engagement Discharge Instruct. Indiv Language License         1
MDC Specialty Edition                                                 1
Custom Solutions Maintenance                                          1
Pathology Reference Center                                            1
Fingerprint Engine                                                    1
Name: Product Line Level 3, Length: 159, dtype: int64
Title by Title                        291048
eOnly Fee                              27176
Societies                               5055
Content Fee                             3862
Journals Consult Subscriptions          3670
                                       ...
Mosbys Nursing Consult - Emergency         1
SPON - ARN                                 1
CP Mobile Retail Core                      1
National Archives                          1
B - Pure Cloud Hosting - Dedicated         1
Name: Product Line Level 4, Length: 309, dtype: int64

Nanomedicine: Nanotechnology, Biology and Medicine                                          684
World Patent Information                                                                    677
Computational Biology and Chemistry                                                         646
Journal of Molecular Graphics and Modelling                                                 643
Safety Science                                                                              637
                                                                                           ...
UTL ORBIS J                                                                                   1
ClinicalKey SPA Medicina de Familia                                                           1
Insights Library 2017: Food Science â Access Plus                                           1
Insights Library 2015: Life and Biomedical Sciences â Access Plus                           1
MRW subscription package: International Encyclopedia of the Social & Behavioral Sciences      1
Name: Saleable Product Name (Source), Length: 3494, dtype: int64
1-12958744431    1754
1-7516737778     1688
1-14227630200    1490
1-14835067012    1429
1-14838254976    1427
                 ...
1-7324324426        1
1-17680451182       1
1-13935292610       1
1-8830456071        1
1-14133913156       1
Name: Agreement Number, Length: 11339, dtype: int64
2017-01-01    111567
2014-01-01     71363
2016-01-01     63489
2015-01-01     47964
2018-01-01     29023
               ...
2019-01-11         1
2017-12-13         1
2016-10-12         1
2015-07-08         1
2015-08-10         1
Name: Agreement Start Date, Length: 1134, dtype: int64
2017-12-31    127525
2016-12-31     66806
2014-12-31     60070
2015-12-31     38951
2018-12-31     33861
               ...
2016-07-21         1
2019-02-03         1
2018-04-08         1
2019-09-01         1
2015-10-12         1
Name: Agreement End Date, Length: 1115, dtype: int64
2018-01-01    128467
2017-01-01     64829
2015-01-01     64182
2016-01-01     40193
2019-01-01     32410
               ...
2016-07-18         1
2019-03-25         1
2017-01-22         1
2017-02-16         1
2015-01-07         1
Name: Subscription Start Date, Length: 1094, dtype: int64
2018-12-31    128517
2017-12-31     64599
2015-12-31     64229
2016-12-31     40197
2019-12-31     32429
               ...
2016-12-06         1
2019-01-09         1
2020-01-29         1
2021-02-10         1
2019-01-02         1
Name: Subscription End Date, Length: 1096, dtype: int64
1-9164384498     1754
1-5621351491     1688
1-11462470661    1490
1-12238285841    1429
1-12798667250    1427
                 ...
1-13067213929       1
1-5893042102        1
1-13770979546       1
1-10729881410       1
1-5948934002        1
Name: Parent Agreement Number, Length: 10596, dtype: int64
USD    304686
EUR     43453
JPY      2601
GBP      2508
Name: Currency(Entered), dtype: int64
0.00       632
9027.64     55
8526.37     31
394.52      20
3305.91     20
          ...
379.34       1
3805.09      1
846.00       1
230.33       1
37.96        1
Name: Revenue Final Net Price - Agent Discount Amount(Rep), Length: 11287, dtype: int64
0.00       37618
1421.00        2
6733.00        2
1204.00        2
653.00         2
           ...
1634.00        1
1636.00        1
1641.00        1
2576.00        1
730.00         1
Name: Revenue Committed Print(Rep), Length: 322, dtype: int64
0.00        6561
336.96       464
268.90       416
537.80       113
920.00       108
            ...
2622.99        1
3755.32        1
27015.00       1
2124.14        1
1582.51        1
Name: Bookings - Final Net Price - Agent Discount Amount(Rep), Length: 47678, dtype: int64
0.00       349174
2200.03         8
645.61          4
1396.44         4
2189.88         4
            ...
1266.53         1
6924.68         1
9106.24         1
841.00          1
4228.76         1
Name: Bookigns - Committed Print(Rep), Length: 3836, dtype: int64
201804    50752
201503    26582
201701    17725
201703    17118
201509    16881
          ...
202005        6
202009        5
202012        2
202011        2
202010        2
Name: Cancellation Month, Length: 73, dtype: int64
Budget                            201133
Account Management                 22025
Pricing level                       8071
Low usage/value                     5740
Not needed for research focus       3544
Product Content                     1470
Competitive product/competitor      1119
Product Functionality                409
Customer Service                      63
Name: Cancellation Reason, dtype: int64

### Summary of the dataframe

In [5]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(get_data_frame_summmary(df))

                                                index                                      unique_values  unique_counts data_type  percent_missing
36  Revenue Final Net Price - Agent Discount Amoun...  [[nan, 813.84, 933.8622951, 373.62622949999997...          11288   float64            96.37
37                       Revenue Committed Print(Rep)  [[nan, 0.0, 558.5, 657.75, 1382.64, 947.71, 65...            323   float64            89.26
38  Bookings - Final Net Price - Agent Discount Am...  [[0.0, 838.0, 1.0, 915.8, 847.4, 1419.31, 1255...          47679   float64            82.14
22                          Renewal Exp Complete Date  [[nan, 2014-10-31, 2015-11-18, 2015-11-17, 201...           1143    object            48.71
41                                Cancellation Reason  [[nan, Account Management, Budget, Competitive...             10    object            31.05
19                                  Payment Term Type                  [[NET, AS_IS_DATE, nan, SPL/MTH]]              4    object             8.32
18                           Payment Term Description  [[Net Due in 30 days After Invoice Date, Net D...             86    object             8.32
17                                       Payment Term  [[30 NET, 90 NET, 28FEB15, 60 NET, 15DEC18, na...             86    object             8.32
34                            Parent Agreement Number  [[nan, 1-4772884818, 1-5302903067, 1-103094846...          10597    object             0.32
15                                         Sales Type                 [[Cancelled, Active Renewal, nan]]              3    object             0.04
14                                 Business Indicator      [[Cancelled, New Sale, Renewal, Credit, nan]]              5    object             0.00
26                               Product Line Level 3  [[Clinical Pharmacology Access Codes, Clinical...            159    object             0.00
27                               Product Line Level 4  [[Clinical Pharmacology Access Codes, Clinical...            309    object             0.00
28                     Saleable Product Name (Source)  [[Clinical Pharmacology Access Codes, Clinical...           3494    object             0.00
30                               Agreement Start Date  [[2015-05-15, 2015-01-01, 2015-07-01, 2012-01-...           1134    object             0.00
29                                   Agreement Number  [[1-8619116948, 1-8204696302, 1-8810268492, 1-...          11339    object             0.00
24                               Product Line Level 1  [[Reference, Journals, Engineering, Research I...              8    object             0.00
31                                 Agreement End Date  [[2016-05-14, 2015-12-31, 2016-12-31, 2014-12-...           1115    object             0.00
32                            Subscription Start Date  [[2015-05-15, 2015-01-01, 2015-07-01, 2017-03-...           1094    object             0.00
33                              Subscription End Date  [[2016-05-14, 2015-12-31, 2018-03-18, 2017-03-...           1096    object             0.00
35                                  Currency(Entered)                             [[USD, EUR, JPY, GBP]]              4    object             0.00
39                    Bookigns - Committed Print(Rep)  [[0.0, 1023.28138752, 558.5, 657.75, 1382.64, ...           3836   float64             0.00
40                                 Cancellation Month  [[201702, 201504, 201512, 201501, 201502, 2017...             73     int64             0.00
25                               Product Line Level 2  [[ClinicalPharmacology, clinics, Journals Elec...             34    object             0.00
0                                       Source System                                       [[CRM, UPL]]              2    object             0.00
23                               Product Revenue Type                   [[Recurring, One Off/Recurring]]              2    object             0.00
8                                                 RSO  [[EMEALA, APAC, MAEU, NOAM, EMLA, KEYA, RSS, C...             10    object             0.00
2                                     Source System.1                                       [[CRM, UPL]]              2    object             0.00
3                           HQ SIS Id (Agreement SIS)  [[1060896, 1072415, 2064, 304, 834326, 906206,...           7752    object             0.00
4                               Name  (Agreement SIS)  [[Hospital Infantil de las Californias, Swines...           8565    object             0.00
5                   Business Division (Agreement SIS)  [[HS EMEA/LA, HS APAC, A&G_MAEU, Corporate, HS...              9    object             0.00
6                      Sales Division (Agreement SIS)  [[HS-EMEALA-RLAM0000000-01D, HS India, Pakista...            208    object             0.00
7                                            Division                             [[HS, A&G, Corporate]]              3    object             0.00
9                                  Subregion Grouping  [[HS RLAM, HS South Asia, Region South Europe,...             69    object             0.00
1                             SIS Id  (Agreement SIS)  [[1060896, 1072416, 1107461, 394770, 834326, 9...           8586    object             0.00
10                       Country Name (Agreement SIS)  [[Mexico, Sri Lanka, Italy, Finland, India, Un...            133    object             0.00
11                                           WIP Flag                                      [[CANCELLED]]              1    object             0.00
12                                             Status                  [[Cancelled Complete, Cancelled]]              2    object             0.00
13                                           Wip Type                                      [[Cancelled]]              1    object             0.00
16                             Calculated New/Renewal                                   [[Renewal, New]]              2    object             0.00
20                                 Status Change Date  [[2017-02-02, 2015-04-10, 2015-12-11, 2014-09-...           1351    object             0.00
21                              Reporting Year (2015)                                           [[2015]]              1     int64             0.00

# Identify Missing Data

Missing values affect the performance of the machine learning models and its useful to identify and drop or impute missing values before modelling.

We will quantify the missing data and drop any columns lower than the given threshold. we have set threshold of 70% so any columns and rows with missing data over 70% are dropped.

In this case, manually ignore Renewal Exp Complete Date. We can also manually drop 'Payment Term Description' since it is highly correlated to 'Payment Term'.

In [6]:
#set threshold
threshold = 0.7


#Dropping columns with missing value rate higher than threshold
temp = df[df.columns[df.isnull().mean() < threshold]]

print('-------------------- Dropping Columns with missing data --------------------')
print(f'Following {len(df.columns.difference(temp.columns))} columns have missing data over the threshold and will be removed')
print(df.columns.difference(temp.columns))

df = temp

print('-------------------- Dropping rows with missing data --------------------')
print(f' There are {sum(df.isnull().mean(axis=1) > threshold)} rows with missing data over the threshold')

#Dropping rows with missing value rate higher than threshold
df = df.loc[df.isnull().mean(axis=1) < threshold]

# remove temp object from memory
del temp

#manually remove borderline case
df = df.drop(columns=['Renewal Exp Complete Date', 'Payment Term Description'])

-------------------- Dropping Columns with missing data --------------------
Following 3 columns have missing data over the threshold and will be removed
Index(['Bookings - Final Net Price - Agent Discount Amount(Rep)',
       'Revenue Committed Print(Rep)',
       'Revenue Final Net Price - Agent Discount Amount(Rep)'],
      dtype='object')
-------------------- Dropping rows with missing data --------------------
 There are 0 rows with missing data over the threshold

In [7]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(get_data_frame_summmary(df))

                                index                                      unique_values  unique_counts data_type  percent_missing
36                Cancellation Reason  [[nan, Account Management, Budget, Competitive...             10    object            31.05
17                       Payment Term  [[30 NET, 90 NET, 28FEB15, 60 NET, 15DEC18, na...             86    object             8.32
18                  Payment Term Type                  [[NET, AS_IS_DATE, nan, SPL/MTH]]              4    object             8.32
32            Parent Agreement Number  [[nan, 1-4772884818, 1-5302903067, 1-103094846...          10597    object             0.32
15                         Sales Type                 [[Cancelled, Active Renewal, nan]]              3    object             0.04
14                 Business Indicator      [[Cancelled, New Sale, Renewal, Credit, nan]]              5    object             0.00
3           HQ SIS Id (Agreement SIS)  [[1060896, 1072415, 2064, 304, 834326, 906206,...           7752    object             0.00
27                   Agreement Number  [[1-8619116948, 1-8204696302, 1-8810268492, 1-...          11339    object             0.00
23               Product Line Level 2  [[ClinicalPharmacology, clinics, Journals Elec...             34    object             0.00
24               Product Line Level 3  [[Clinical Pharmacology Access Codes, Clinical...            159    object             0.00
25               Product Line Level 4  [[Clinical Pharmacology Access Codes, Clinical...            309    object             0.00
26     Saleable Product Name (Source)  [[Clinical Pharmacology Access Codes, Clinical...           3494    object             0.00
28               Agreement Start Date  [[2015-05-15, 2015-01-01, 2015-07-01, 2012-01-...           1134    object             0.00
21               Product Revenue Type                   [[Recurring, One Off/Recurring]]              2    object             0.00
29                 Agreement End Date  [[2016-05-14, 2015-12-31, 2016-12-31, 2014-12-...           1115    object             0.00
30            Subscription Start Date  [[2015-05-15, 2015-01-01, 2015-07-01, 2017-03-...           1094    object             0.00
31              Subscription End Date  [[2016-05-14, 2015-12-31, 2018-03-18, 2017-03-...           1096    object             0.00
33                  Currency(Entered)                             [[USD, EUR, JPY, GBP]]              4    object             0.00
34    Bookigns - Committed Print(Rep)  [[0.0, 1023.28138752, 558.5, 657.75, 1382.64, ...           3836   float64             0.00
35                 Cancellation Month  [[201702, 201504, 201512, 201501, 201502, 2017...             73     int64             0.00
22               Product Line Level 1  [[Reference, Journals, Engineering, Research I...              8    object             0.00
20              Reporting Year (2015)                                           [[2015]]              1     int64             0.00
4               Name  (Agreement SIS)  [[Hospital Infantil de las Californias, Swines...           8565    object             0.00
19                 Status Change Date  [[2017-02-02, 2015-04-10, 2015-12-11, 2014-09-...           1351    object             0.00
1             SIS Id  (Agreement SIS)  [[1060896, 1072416, 1107461, 394770, 834326, 9...           8586    object             0.00
2                     Source System.1                                       [[CRM, UPL]]              2    object             0.00
16             Calculated New/Renewal                                   [[Renewal, New]]              2    object             0.00
13                           Wip Type                                      [[Cancelled]]              1    object             0.00
12                             Status                  [[Cancelled Complete, Cancelled]]              2    object             0.00
11                           WIP Flag                                      [[CANCELLED]]              1    object             0.00
10       Country Name (Agreement SIS)  [[Mexico, Sri Lanka, Italy, Finland, India, Un...            133    object             0.00
9                  Subregion Grouping  [[HS RLAM, HS South Asia, Region South Europe,...             69    object             0.00
8                                 RSO  [[EMEALA, APAC, MAEU, NOAM, EMLA, KEYA, RSS, C...             10    object             0.00
7                            Division                             [[HS, A&G, Corporate]]              3    object             0.00
6      Sales Division (Agreement SIS)  [[HS-EMEALA-RLAM0000000-01D, HS India, Pakista...            208    object             0.00
5   Business Division (Agreement SIS)  [[HS EMEA/LA, HS APAC, A&G_MAEU, Corporate, HS...              9    object             0.00
0                       Source System                                       [[CRM, UPL]]              2    object             0.00

### Data Imputation

We can impute missing data with meaningful data so that model development has good quality of data

We can impute categorical variables with the most frequestly occuring value and impute numerical variables with 0 or mean or median depending on the variable context.

Cancellation Reason - Impute with most frequent

Payment Term - Impute with most frequent

Payment Term Type - Impute with most frequent

In [8]:
#Filling all missing values with 0
# data = data.fillna(0)

#Filling missing values with the most frequest values
df['Cancellation Reason'].fillna(
    df['Cancellation Reason'].value_counts().idxmax(), inplace=True)

df['Payment Term'].fillna(
    df['Payment Term'].value_counts().idxmax(), inplace=True)

df['Payment Term Type'].fillna(
    df['Payment Term Type'].value_counts().idxmax(), inplace=True)

# Handling Outliers

Extreme value can skew the data distribution and thus affect the model development we identify outliers in numeric variables and handle them by removing or capping.

### Outlier Detection with Percentiles

In [9]:
#Dropping the outlier rows with Percentiles

df = drop_outliers(df, exclude = ['Bookigns - Committed Print(Rep)'])

Dropping outliers for Cancellation Month upper limit = 201912.0 and lower limit = 201503.0
Dropping outliers for Reporting Year (2015) upper limit = 2015.0 and lower limit = 2015.0

# Binning

The main motivation of binning is to make the model more robust and prevent overfitting, however, it has a cost to the performance. Every time you bin something, you sacrifice information and make your data more regularized

The trade-off between performance and overfitting is the key point of the binning process


For Categorical variables the labels with low frequencies probably affect the robustness of statistical models negatively. Thus, assigning a general category to these less frequent values helps to keep the robustness of the model.

it is a good option to unite the labels with a count less than 100 to a new category like “Other”.

In [10]:
binning_summary = get_data_frame_summmary(df, 
                                    sort_by='unique_counts', 
                                    ascending=True)

### Columns with less than 100 unique categories

In [11]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(binning_summary[binning_summary['unique_counts'] < 100])

Empty DataFrame
Columns: [index, unique_values, unique_counts, data_type, percent_missing]
Index: []

In [12]:
columns_to_bin = binning_summary[binning_summary['unique_counts'] < 100]['index'].to_list()

In [13]:
# select columns with less than 100 labels
df = df.apply(lambda x: x.mask(x.map(x.value_counts())<10, 'Other') if x.name in columns_to_bin else x)

### After Binning - Columns with less than 100 unique categories

In [14]:
binning_summary = get_data_frame_summmary(df, 
                                    sort_by='unique_counts', 
                                    ascending=True)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(binning_summary[binning_summary['unique_counts'] < 100])

Empty DataFrame
Columns: [index, unique_values, unique_counts, data_type, percent_missing]
Index: []

## Log Transform

Logarithm transformation (or log transform) is one of the most commonly used mathematical transformations

It helps to handle skewed data and after transformation, the distribution becomes more approximate to normal.
In most of the cases the magnitude order of the data changes within the range of the data. log transform normalizes the magnitude differences.

It also decreases the effect of the outliers, due to the normalization of magnitude differences and the model become more robust.

Important note: The data you apply log transform must have only positive values, otherwise you receive an error. Also, you can add 1 to your data before transform it. Thus, you ensure the output of the transformation to be positive.

In [15]:
# No Log transform applied

## Scaling

In most cases, the numerical features of the dataset do not have a certain range and they differ from each other. Scaling solves this problem. The continuous features become identical in terms of the range, after a scaling process. This process is not mandatory for many algorithms, but it might be still nice to apply. 

### Normalization

Normalization (or min-max normalization) scale all values in a fixed range between 0 and 1. This transformation does not change the distribution of the feature and due to the decreased standard deviations, the effects of the outliers increases. Therefore, before normalization, it is recommended to handle the outliers

### Standardization
Standardization (or z-score normalization) scales the values while taking into account standard deviation. If the standard deviation of features is different, their range also would differ from each other. This reduces the effect of the outliers in the features.
In the following formula of standardization, the mean is shown as μ and the standard deviation is shown as σ.

In [16]:
df = scale_numeric_features(df, inplace=True)

********************* - Scaling following 3 features - **********************
 Bookigns - Committed Print(Rep) standardized to Bookigns - Committed Print(Rep)
 Cancellation Month standardized to Cancellation Month
 Reporting Year (2015) standardized to Reporting Year (2015)

## One-hot encoding

This method spreads the values in a column to multiple flag columns and assigns 0 or 1 to them. These binary values express the relationship between grouped and encoded column.

This method changes your categorical data, which is challenging to understand for algorithms, to a numerical format

If you have N distinct values in the column, it is enough to map them to N-1, as the missing value can be deduced from the other columns

In [17]:
print(columns_to_bin)

[]

In [18]:
# Specify Columns to encode
columns_to_exclude = ['Product Line Level 3','Payment Term Description','Payment Term', 
                      'Business Division (Agreement SIS)', 'Product Line Level 4']
columns_to_include = columns_to_bin
columns_to_encode = remove_items(columns_to_include, columns_to_exclude)
columns_to_encode

[]

In [19]:
for column in columns_to_encode:
    encoded_columns = pd.get_dummies(df[column])
    print(f'Encoding collumns : {column} to {len(encoded_columns.columns)} new encoded columns')
    df = df.join(encoded_columns, rsuffix='_'+column).drop(column, axis=1)

In [20]:
df.shape

(0, 37)

In [21]:
df.head()

Empty DataFrame
Columns: [Source System, SIS Id  (Agreement SIS), Source System.1, HQ SIS Id (Agreement SIS), Name  (Agreement SIS), Business Division (Agreement SIS), Sales Division (Agreement SIS), Division, RSO, Subregion Grouping, Country Name (Agreement SIS), WIP Flag, Status, Wip Type, Business Indicator, Sales Type, Calculated New/Renewal, Payment Term, Payment Term Type, Status Change Date, Reporting Year (2015), Product Revenue Type, Product Line Level 1, Product Line Level 2, Product Line Level 3, Product Line Level 4, Saleable Product Name (Source), Agreement Number, Agreement Start Date, Agreement End Date, Subscription Start Date, Subscription End Date, Parent Agreement Number, Currency(Entered), Bookigns - Committed Print(Rep), Cancellation Month, Cancellation Reason]
Index: []

[0 rows x 37 columns]

## Transform Date columns

Recency and Frequency Variables and length / duration.

In [22]:
# convert date columns to date data type

date_columns = ['Agreement Start Date', 'Agreement End Date','Subscription Start Date', 'Subscription End Date']

In [23]:
for column in date_columns:
    df[column] = pd.to_datetime(df[column])

In [24]:
# calcualte new variable subscription_length and agreement_length
df['subscription_length'] = months_between_columns(df['Subscription End Date'],df['Subscription Start Date'])

In [25]:
df['agreement_length'] = months_between_columns(df['Agreement End Date'],df['Agreement Start Date'])

In [26]:
 df.head()

Empty DataFrame
Columns: [Source System, SIS Id  (Agreement SIS), Source System.1, HQ SIS Id (Agreement SIS), Name  (Agreement SIS), Business Division (Agreement SIS), Sales Division (Agreement SIS), Division, RSO, Subregion Grouping, Country Name (Agreement SIS), WIP Flag, Status, Wip Type, Business Indicator, Sales Type, Calculated New/Renewal, Payment Term, Payment Term Type, Status Change Date, Reporting Year (2015), Product Revenue Type, Product Line Level 1, Product Line Level 2, Product Line Level 3, Product Line Level 4, Saleable Product Name (Source), Agreement Number, Agreement Start Date, Agreement End Date, Subscription Start Date, Subscription End Date, Parent Agreement Number, Currency(Entered), Bookigns - Committed Print(Rep), Cancellation Month, Cancellation Reason, subscription_length, agreement_length]
Index: []

[0 rows x 39 columns]

## Remove unused and/or redundant Features

Unused features are those that don’t make sense to pass into our machine learning algorithms. such as ID columns
Features that wouldn't be available at the time of prediction, Other text descriptions

Redundant features would typically be those that have been replaced by other features that you’ve added during feature engineering

In [27]:
# @TODO
# check the columns use of 'Status Change Date', 'Renewal Exp Complete Date'
# check 'Bookigns - Committed Print(Rep)'

columns_to_remove = ['HQ SIS Id (Agreement SIS)', 'Name  (Agreement SIS)', 
                     'Status Change Date', 'Product Line Level 3', 'Product Line Level 4']

In [28]:
df = df.drop(columns_to_remove, axis=1)

In [29]:
df.head()

Empty DataFrame
Columns: [Source System, SIS Id  (Agreement SIS), Source System.1, Business Division (Agreement SIS), Sales Division (Agreement SIS), Division, RSO, Subregion Grouping, Country Name (Agreement SIS), WIP Flag, Status, Wip Type, Business Indicator, Sales Type, Calculated New/Renewal, Payment Term, Payment Term Type, Reporting Year (2015), Product Revenue Type, Product Line Level 1, Product Line Level 2, Saleable Product Name (Source), Agreement Number, Agreement Start Date, Agreement End Date, Subscription Start Date, Subscription End Date, Parent Agreement Number, Currency(Entered), Bookigns - Committed Print(Rep), Cancellation Month, Cancellation Reason, subscription_length, agreement_length]
Index: []

[0 rows x 34 columns]

Save clean data to hdf store

In [30]:
store = HDFStore(path_to_clean_hdf_datastore)
store.put(key= cfg['cancellations_file']+"_clean", value=df)
store.close()